
.cardInfoTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.date {
  color: rgba(0, 0, 0, 0.45);
}

.rateFlex {
  @media (max-width: 1010px) {
    left: 80px;
    position: relative;
  }
}
.rate {

  li {
    margin-right: 4px !important;
  }

}

.genres {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px;
  background: #fafafa;

  .genre {
    color: rgba(0, 0, 0, 0.88);
    font-size: 12px;
    line-height: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    padding: 0 5px;
  }
}

.cardTitle {

}

.card {

  .contentRight {
    width: 100%;
    padding: 7px 20px 20px;

    @media (max-width: 1010px) {
      max-width: 320px;
      gap: 10px;
      padding-right: 0;

      .ratingArrow {
        width: 30px !important;
        height: 30px !important;
        min-width: 30px !important;
        min-height: 30px !important;
      }
    }
  }
  @media (max-width: 1010px) {
    padding: 6px 10px;
    width: 100%;

    .descriptions {
      max-width: 380px;
      margin-left: -79px;
    }
  }

  .img {
    display: flex;
    width: 180px;
    height: 280px;

    @media (max-width: 1010px) {
      width: 60px;
      height: 91px;
    }
  }
}
