
.cardInfoTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.date {
  color: rgba(0, 0, 0, 0.45);
}

.genres {
  display: inline-flex;
  gap: 8px;

  .genre {
    color: rgba(0, 0, 0, 0.88);
    font-size: 12px;
    line-height: 20px;
  }
}

.descriprions {

}


.cardTitle {

}
