
.cards {
  max-width: 1010px;
  gap: 36px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.page {
  width: 100%;
  height: fit-content;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}
